
@media only screen and (max-width:567px){
    .SVideo {
        position: absolute;
        top: 0%;
        right: 5%;
    }
    .Zbtn {
        position: absolute;
        top: 8%;
        left: 4%;
    }
    .Fbtn {
        position: absolute;
        bottom: 10%;
        left: 28%;
    }
} 
